.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1em;
  user-select: none;
  
 }
 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.activeCard {
  color: DarkRed ;
  background: PeachPuff  ;
 }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size:50px;
  color: IndianRed  ;
  font-weight: bold;
}

p {
  font-size: 20px;
}

.button {
  padding: 16px 32px;
  background-color: SlateGray ;
  color: white;
  font-size: 15px;
}

.button:hover {
  background-color: LightGrey ; 
  color: black; 
  border: 2px solid SlateGray ;
}

.tooltip {
  position: relative;
  display: inline-block;
  padding: 30px;
  color: GoldenRod ;
  font-size: 20px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color:  GoldenRod;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}